server:
  port: 8081

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/elearning-realm
          jwk-set-uri: http://localhost:8080/realms/elearning-realm/protocol/openid-connect/certs

logging:
  level:
    org.springframework.security: DEBUG
